<!DOCTYPE html>
<html>
  
  <head>

    <title>
      {% block heading %}
      Your Quest Will Suck
      {% endblock heading %}
    </title>

    <link rel="stylesheet" href="static/base.css" type="text/css"></link>
    <link rel="stylesheet" href="static/story.css">
    
  </head>

  <body>
    {% block testing %}
    {% endblock testing %}
    <div id = "window">
      <center>
	<table width = "1000">
	  <tr>
	    {% block screenmicro %}
	    
	    <td height = "648">
	      <center>
		<h1> MunchQuest </h1>
		<form method="POST" action="/story">
		  <input type = "hidden" name = "newGame" value = "True">
		  <input type = "hidden" name = "Name" value = "Drake">
		  <input type = "hidden" name = "Class" value = "Human">
		  <input type = "hidden" name = "HP" value = "30">
		  <input type = "hidden" name = "Damage" value = "Str">
		  <input type = "hidden" name = "Str" value = "5">
		  <input type = "hidden" name = "Mag" value = "5">
		  <input type = "hidden" name = "Res" value = "5">
		  <input type = "hidden" name = "Wis" value = "5">
		  <input type = "hidden" name = "Spd" value = "5">
		  <input type = "hidden" name = "Int" value = "5">
		  <input type = "hidden" name = "Agi" value = "5">
		  <input type = "hidden" name = "Head" value = "">
		  <input type = "hidden" name = "MHand" value = "">
		  <input type = "hidden" name = "SHand" value = "">
		  <input type = "hidden" name = "THand" value = "">
		  <input type = "hidden" name = "Armor" value = "">
		  <input type = "hidden" name = "Feet" value = "">
		  <input type = "hidden" name = "Storage" value = "">
		  <input type = "hidden" name = "Doors" value = "">
		  <input type = "hidden" name = "Treasure" value = "">
		  <input type = "submit" value="New Game">
		</form>
		<form action="/loadgame">
		  <input type = "submit" value="Load Game">
		</form>
		<form action="/help">
		  <input type = "submit" value="Help">
		</form>
		<form action="/score">
		  <input type = "submit" value="High Scores">
		</form>
		<form action="/about">
		  <input type = "submit" value="About This Game">
		</form>
	      </center>
	    </td>
	    {% endblock screenmicro %}
	    
	  </tr>
	</table>
      </center>
    </div>
    {% block jscrap %}
    
    {% endblock jscrap %}

</html>
