{% extends "base.html" %}
{% block heading %}
Try Not to Get Killed Please
{% endblock heading %}
{% block screenmicro %}
<td class = "text" height = "648">
  <table width = "480" margin = "auto">
    <tr>
      <td class = "text" height = "324">
	Will need to change class later, prob
      </td>
      <td class = "text" height = "324">
	Item Stats/Enemy Stats
      </td>
    </tr>
    <tr>
      <td class = "text" height = "324">
	Menu Commands
      </td>
      <td class = "text" height = "324">
	Subcommands
      </td>
    </tr>
  </table>
</td>
<td class = "text" height = "648">
  <table width = "480" margin = "auto">
    <tr>
      <td class = "text" height = "324">
	Enemy Screen/Shopkeeper Store/Story Screen
      </td>
    </tr>
    <tr>
      <td class = "text" height = "224">
	Battle Commands/Battle results each turn
      </td>
    </tr>
    <tr>
      <td class = "text" height = "100">
	Random Messages
      </td>
    </tr>
</td>
{% endblock screenmicro %}
